a#brand{
  font-size: 36px;
  color: white !important;
}

a#brand.item{
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 0;
	padding-bottom: 25px;
}

a#brand sub{
  font-size: 25px;
  margin-left: 10px;
}

.ui.card>.content, .ui.cards>.card>.content{
  flex-grow: 0;
}

div.right.item{
  margin-bottom: 15px !important;
}

div.right.item button.inverted a{
  color: #fff;
}

div.extra.center.aligned.content.show.more{
  font-weight: bold; 
  font-size: 16px;
}

div.shadow{
  box-shadow: 4px 5px #ffff;
}

svg.card.icon{
  font-size: 28px;
  color: #2f5593;
}
