.ui.menu .item>i.icon{
  margin-bottom: 1.2em;
  margin-left: 1em;
}

.spread:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  
  display: block;
  background-image: url("/house6.jpg");
  height: 700px;
  filter: blur(1px) opacity(40%);
}

.spread {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
  height: 700px;
  background: black;
}

br {
  display: block;
  margin: 5px 0;
}


.ui.secondary.pointing.menu{
  border-bottom: none;
  border-top: none;
  margin-top: 15px;
}

.ui.inverted.vertical.center.aligned.segment{
  padding: 0;
}

.svg-inline--fa{
  margin-right: 10px;
  margin-bottom: 3px;
  color: #2f5593;
}
